<%= form_with(model: instablog) do |form| %>
  <% if instablog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(instablog.errors.count, "error") %> prohibited this instablog from being saved:</h2>

      <ul>
        <% instablog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
