<% if notice.present? %>
  <div class="container col-md-8 col-12 mt-4" style="position: relative; z-index: 9999;">
    <div class="alert alert-primary" role="alert">
      <p class="text-center m-0" style="color: green"><%= notice %></p>
    </div>
  </div>
  <script>
    setTimeout(function() {
      $('.alert').fadeOut();
    }, 6000);
  </script>
<% end %>


<%= render @instablog %>

<div class="d-flex gap-2 mb-3" style="position: relative; z-index: 999;">
  <%= link_to "Editar", edit_instablog_path(@instablog), class: "btn btn-primary" %>
  <%= link_to "Volver", instablogs_path, class: "btn btn-outline-primary" %>
  <%= button_to "Eliminar", @instablog, method: :delete, class: "btn btn-danger" %>
</div>
